body {
  margin: 0;
  padding: 16px 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  background-image: url('./img/background.png');
}

header {
  background-color: #f0f0f0;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
}

h1 {
  margin: 0;
  font-size: 32px;
  margin-bottom: 16px;
}

h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

form {
  margin: 8px 0 16px 0;
}

label, input, button {
  font-size: 16px;
  margin: 4px 0;
}

select {
  font-size: 16px;
  padding: 1px;
  width: 45px;
}

.container {
  text-align: center;
  padding: 20px 16px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
}

.fieldset-with-menu {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.fieldset-with-menu fieldset {
  margin: 0;
  max-width: 700px;
  padding: 10px;
  flex-grow: 1;
  margin-left: 30px;
}

.fieldset-with-menu button {
  height: 40px;
  white-space: nowrap;
  margin-top: 14px;
}

.menu-container {
  position: relative;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0; /* 画面の横半分の位置を0に */
  right: 0; /* 右端まで広げる */
  max-width: 200px; /* メニューの最大幅を設定 */
  margin: 0 auto; /* 中央寄せ */
  background: #fff;
  border: 1px solid #ccc;
  padding: 4px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 10;
  flex-direction: column;
  gap: 1px;
}

.menu button {
  margin-top: 1px;
}

.close-btn {
  align-self: flex-end;
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.small-text {
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
}

.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.hidden {
  display: none;
}

/* レスポンシブデザイン */
@media (max-width: 600px) {
  .container {
    padding: 16px;
  }

  .fieldset-with-menu {
    flex-direction: column;
    align-items: stretch;
  }

  .fieldset-with-menu fieldset {
    margin-left: 0;
    max-width: none;
  }

  .fieldset-with-menu button {
    margin-top: 8px;
  }

  .menu {
    left: 0;
    right: 0;
    max-width: none;
  }
}
