* {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
}

body {
  margin: 0;
  padding: 16px 0;
  min-height: 100vh;
  background-image: url('/img/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}
