.inputGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.yearInput {
  width: 60px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 700px) {
  .yearInput {
    width: 56px;
    padding: 6px;
    font-size: 16px;
  }

  .select {
    padding: 6px;
    font-size: 16px;
  }

  .inputGroup {
    gap: 6px;
  }

  .inputGroup span {
    font-size: 16px;
  }
}
