.section {
  margin-top: 8px;
  border-top: 1px solid #eee;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

.text {
  font-size: 12px;
  color: #666;
  line-height: 1.6;
}

.list {
  font-size: 13px;
  color: #000;
  line-height: 1.4;
  text-align: left;
  padding-left: 20px;
  margin: 0;
}

.list li {
  margin-bottom: 4px;
}
