.section {
  margin-top: 8px;
  text-align: center;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: 2px solid #ddd;
}

.text {
  font-size: 12px;
  color: #000;
  line-height: 1.6;
}

.list {
  font-size: 13px;
  color: #000;
  line-height: 1.4;
  text-align: left;
  padding-left: 20px;
  margin: 0;
  display: inline-block;
}

.list li {
  margin-bottom: 4px;
}
